<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <p>
        Member since: <%= @user.created_at %>
      </p>
    </section>
  </aside>
</div>